<!--	MHonArc resource file for converting example MIME mail
  -->
<SORT>
<title>
Example MIME mail messages converted by MHonArc
</title>

<!--	Have LISTBEGIN contain last updated information
  -->
<listbegin>
<address>
Last update: $LOCALDATE$<br>
$NUMOFMSG$ messages in chronological order<br>
</address>
<p>
Listing format is the following:
<p>
<img src="http://www.oac.uci.edu/indiv/ehood/icons/unknown.doc.xbm" alt="* "> 
<strong>Subject</strong><code>  </code>
(# of follow-ups)<code>  </code>
<em>From</em><br>
<p>
<hr>
</listbegin>

<!--	A compact listing template
  -->
<litemplate>
<img src="$ICONURL$" alt="* "> 
<strong>$SUBJECT:40$</strong>
($NUMFOLUP$) <em>$FROMNAME$</em><br>
</litemplate>

<listend>
</dl>
<p>
<hr>
<a href="http://www.oac.uci.edu/indiv/ehood/">Back to Earl Hood's Home Page</a>
<p>
</listend>

<EXCS override>
apparently
errors-to 
followup
forward 
lines 
message-id
mime- 
nntp- 
originator 
path 
precedence 
received 
replied 
return-path 
status 
via 
x- 
</EXCS>

<LABELSTYLES>
-default-
subject:strong
from:strong
to:strong
</LABELSTYLES>

<FIELDSTYLES>
-default-
subject:strong
from:strong
to:strong
keywords:em
newsgroups:strong
</FIELDSTYLES>

<icons>
application/octet-stream:http://www.oac.uci.edu/indiv/ehood/icons/binary.xbm
application/postscript:http://www.oac.uci.edu/indiv/ehood/icons/postscript.xbm
audio/basic:http://www.oac.uci.edu/indiv/ehood/icons/sound.xbm
image/gif:http://www.oac.uci.edu/indiv/ehood/icons/image.xbm
image/jpeg:http://www.oac.uci.edu/indiv/ehood/icons/image.xbm
image/tiff:http://www.oac.uci.edu/indiv/ehood/icons/image.xbm
multipart/alternative:http://www.oac.uci.edu/indiv/ehood/icons/alternative.xbm
multipart/digest:http://www.oac.uci.edu/indiv/ehood/icons/text.xbm
multipart/mixed:http://www.oac.uci.edu/indiv/ehood/icons/mixed.xbm
multipart/parallel:http://www.oac.uci.edu/indiv/ehood/icons/mixed.xbm
text/richtext:http://www.oac.uci.edu/indiv/ehood/icons/mixed.xbm
text/html:http://www.oac.uci.edu/indiv/ehood/icons/mixed.xbm
text/plain:http://www.oac.uci.edu/indiv/ehood/icons/text.xbm
unknown:http://www.oac.uci.edu/indiv/ehood/icons/unknown.doc.xbm
video/mpeg:http://www.oac.uci.edu/indiv/ehood/icons/movie.xbm
video/quicktime:http://www.oac.uci.edu/indiv/ehood/icons/movie.xbm
</icons>

